{% if post.pagination %}
<div class="entry-pagination">
  <div class="entry-pagination_title">
    {{ __( 'Pages:', 'bloom' ) }}
  </div>

  <div class="entry-pagination_items">
    {% for page in post.pagination.pages %}
      {% if page.current %}
        <span>{{ page.title }}</span>{{ loop.last ? '' : ', ' }}
      {% else %}
        <a href="{{ page.link }}">{{ page.title }}</a>{{ loop.last ? '' : ', ' }}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
