{% if related_posts is not empty %}
<div class="post-related">
	<div class="post-related_head">
		<span>{{ __( 'Related Posts', 'bloom' ) }}</span>
	</div>

	<div class="post-related_items">
		{% for post in related_posts %}
			<div class="post-related_item {{ ( post.get_thumbnail ) ? '' : '-nothumb' }}">
				{% if post.get_thumbnail %}
					<div class="post-related_thumbnail">
						<a href="{{ post.link }}" title="{{ post.title | e('html') }}">
							<img src="{{ post.thumbnail.src('related-posts') }}" alt="{{ post.title | e('html') }}" title="{{ post.title | e('html') }}" />
						</a>
					</div>
				{% endif %}

				<div class="post-related_title">
					<a href="{{ post.link }}" title="{{ post.title | e('html') }}">
						{{ post.title }}
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endif %}
