{% set icons = settings.social %}
<ul class="social-icons">
	{% if icons.rss %}
    <li class="social-rss">
      <a href="{{ icons.rss }}" title="Rss" rel="nofollow external"><i class="icon -rss"></i></a>
    </li>
	{% endif %}

	{% if icons.twitter %}
    <li class="social-twitter">
      <a href="{{ icons.twitter }}" title="Twitter" rel="nofollow external"><i class="icon -twitter"></i></a>
    </li>
	{% endif %}

	{% if icons.facebook %}
    <li class="social-facebook">
      <a href="{{ icons.facebook }}" title="Facebook" rel="nofollow external"><i class="icon -facebook"></i></a>
    </li>
	{% endif %}

	{% if icons.googleplus %}
    <li class="social-googleplus">
      <a href="{{ icons.googleplus }}" title="Google Plus" rel="nofollow external"><i class="icon -google-plus"></i></a>
    </li>
	{% endif %}

	{% if icons.instagram %}
    <li class="social-instagram">
      <a href="{{ icons.instagram }}" title="Instagram" rel="nofollow external"><i class="icon -instagram"></i></a>
    </li>
	{% endif %}

	{% if icons.youtube %}
    <li class="social-youtube">
      <a href="{{ icons.youtube }}" title="Youtube" rel="nofollow external"><i class="icon -youtube"></i></a>
    </li>
	{% endif %}

	{% if icons.flickr %}
    <li class="social-flickr">
      <a href="{{ icons.flickr }}" title="Flickr" rel="nofollow external"><i class="icon -flickr"></i></a>
    </li>
	{% endif %}

	{% if icons.dribbble %}
    <li class="social-dribbble">
      <a href="{{ icons.dribbble }}" title="Dribbble" rel="nofollow external"><i class="icon -dribbble"></i></a>
    </li>
	{% endif %}

	{% if icons.bitbucket %}
    <li class="social-bitbucket">
      <a href="{{ icons.bitbucket }}" title="BitBucket" rel="nofollow external"><i class="icon -bitbucket"></i></a>
    </li>
	{% endif %}

	{% if icons.github %}
    <li class="social-github">
      <a href="{{ icons.github }}" title="Github" rel="nofollow external"><i class="icon -github"></i></a>
    </li>
	{% endif %}

	{% if icons.pinterest %}
    <li class="social-pinterest">
      <a href="{{ icons.pinterest }}" title="Pinterest" rel="nofollow external"><i class="icon -pinterest"></i></a>
    </li>
	{% endif %}

	{% if icons.vimeo %}
    <li class="social-vimeo">
      <a href="{{ icons.vimeo }}" title="Vimeo" rel="nofollow external "><i class="icon -vimeo-square"></i></a>
    </li>
	{% endif %}
</ul>
